Objective:•Practice Naive Bayes algorithm based classification.•Identify the predictors that can be of influence by experiment.Questions:

1.Load the kinematics dataset as measured on mobile sensors from the file “run_or_walk.csv”. List out the columns in the dataset.

2. Let the target variable ‘y’ be the activity and assign all the columns after it to ‘x’.

3.Using Scikit-learn fit a Gaussian Naive Bayes model and observe the accuracy.Generate a classification report using scikitlearn.

4.Repeat the model once using only the acceleration values as predictors and then using only the gyro values as predictors. Comment on the difference in accuracy between both the models.

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
df=pd.read_csv("run_or_walk.csv")
df.head(5)

,date,time,username,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,2017-6-30,13:51:15:847724020,viktor,0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,2017-6-30,13:51:16:246945023,viktor,0,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,2017-6-30,13:51:16:446233987,viktor,0,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,2017-6-30,13:51:16:646117985,viktor,0,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,2017-6-30,13:51:16:846738994,viktor,0,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922

In [18]:
df.shape

(88588, 11)

In [19]:
print('Missing values:\n{}'.format(df.isnull().sum()))

# Find duplicated records
print('\nNumber of duplicated records: {}'.format(df.duplicated().sum()))

Missing values:
date              0
time              0
username          0
wrist             0
activity          0
acceleration_x    0
acceleration_y    0
acceleration_z    0
gyro_x            0
gyro_y            0
gyro_z            0
dtype: int64

Number of duplicated records: 0

In [20]:
df.describe()

,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
count,88588.000000,88588.000000,88588.000000,88588.000000,88588.000000,88588.000000,88588.000000,88588.000000
mean,0.522170,0.500801,-0.074811,-0.562585,-0.313956,0.004160,0.037203,0.022327
std,0.499511,0.500002,1.009299,0.658458,0.486815,1.253423,1.198725,1.914423
min,0.000000,0.000000,-5.350500,-3.299000,-3.753800,-4.430600,-7.464700,-9.480000
25%,0.000000,0.000000,-0.381800,-1.033500,-0.376000,-0.920700,-0.644825,-1.345125
50%,1.000000,1.000000,-0.059500,-0.759100,-0.221000,0.018700,0.039300,0.006900
75%,1.000000,1.000000,0.355500,-0.241775,-0.085900,0.888800,0.733700,1.398200
max,1.000000,1.000000,5.603300,2.668000,1.640300,4.874200,8.498000,11.266200

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88588 entries, 0 to 88587
Data columns (total 11 columns):
date              88588 non-null object
time              88588 non-null object
username          88588 non-null object
wrist             88588 non-null int64
activity          88588 non-null int64
acceleration_x    88588 non-null float64
acceleration_y    88588 non-null float64
acceleration_z    88588 non-null float64
gyro_x            88588 non-null float64
gyro_y            88588 non-null float64
gyro_z            88588 non-null float64
dtypes: float64(6), int64(2), object(3)
memory usage: 7.4+ MB

In [22]:
df=df.drop(['username','date','time'],axis=1)

In [23]:
y=df['activity']
x=df.drop(['activity'],axis=1)

In [24]:
x.head(5)

,wrist,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922

In [33]:
from sklearn.naive_bayes import GaussianNB
import seaborn as sns # this is used for the plot the graph
from sklearn.model_selection import train_test_split # to split the data into two parts
from sklearn import metrics # for the check the error and accuracy of the model
from sklearn import tree
from sklearn.metrics import confusion_matrix

In [34]:
x_train, x_test, y_trx_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state = 42)

In [35]:
gnb = GaussianNB()
#mnb = MultinomialNB()
y_pred_gnb = gnb.fit(x_train,y_train).predict(x_test)
#target_pred = y_pred_mnb.predict(test_X)
print(metrics.accuracy_score(y_test, y_pred_gnb))
cnf_matrix_gnb = confusion_matrix(y_test, y_pred_gnb)
print(cnf_matrix_gnb)
print(metrics.accuracy_score(y_pred_gnb,y_test))

0.9575572863754374
[[8824   89]
 [ 663 8142]]
0.9575572863754374

In [36]:
print(metrics.classification_report(y_test,y_pred_gnb))

              precision    recall  f1-score   support

           0       0.93      0.99      0.96      8913
           1       0.99      0.92      0.96      8805

    accuracy                           0.96     17718
   macro avg       0.96      0.96      0.96     17718
weighted avg       0.96      0.96      0.96     17718

###### only acceleration as predictors

In [37]:
y1=df['activity']
x1=df.drop(['activity'],axis=1)

In [38]:
x1.head()

,wrist,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922

In [39]:
x1.drop(['wrist','gyro_x','gyro_y','gyro_z'],axis=1)

       acceleration_x  acceleration_y  acceleration_z
0              0.2650         -0.7814         -0.0076
1              0.6722         -1.1233         -0.2344
2              0.4399         -1.4817          0.0722
3              0.3031         -0.8125          0.0888
4              0.4814         -0.9312          0.0359
...               ...             ...             ...
88583          0.3084         -0.8376         -0.1327
88584          0.4977         -1.0027         -0.4397
88585          0.4587         -1.1780         -0.2827
88586          0.2590         -0.8582         -0.0759
88587          0.3140         -0.8008         -0.0911

[88588 rows x 3 columns]

In [41]:
x1_train, x1_test, y1_train, y1_test = train_test_split(x1,y1,test_size=0.2,random_state = 42)

In [42]:
gnb = GaussianNB()
#mnb = MultinomialNB()
y1_pred_gnb = gnb.fit(x1_train,y1_train).predict(x1_test)
#target_pred = y_pred_mnb.predict(test_X)
print(metrics.accuracy_score(y1_test, y1_pred_gnb))
cnf_matrix_gnb = confusion_matrix(y1_test, y1_pred_gnb)
print(cnf_matrix_gnb)
print(metrics.accuracy_score(y1_pred_gnb,y1_test))

0.9575572863754374
[[8824   89]
 [ 663 8142]]
0.9575572863754374

In [43]:
y2=df['activity']
x2=df.drop(['activity','acceleration_x','acceleration_y','acceleration_z'],axis=1)

In [44]:
x2.head(4)

   wrist  gyro_x  gyro_y  gyro_z
0      0 -0.0590  0.0325 -2.9296
1      0 -0.1757  0.0208  0.1269
2      0 -0.9105  0.1063 -2.4367
3      0  0.1199 -0.4099 -2.9336

In [45]:
x2=x2.drop(['wrist'],axis=1)

In [46]:
x2_train, x2_test, y2_train, y2_test = train_test_split(x2,y2,test_size=0.2,random_state = 42)

In [47]:
gnb = GaussianNB()
#mnb = MultinomialNB()
y2_pred_gnb = gnb.fit(x2_train,y2_train).predict(x2_test)
#target_pred = y_pred_mnb.predict(test_X)
print(metrics.accuracy_score(y2_test, y2_pred_gnb))
cnf_matrix_gnb = confusion_matrix(y2_test, y2_pred_gnb)
print(cnf_matrix_gnb)
print(metrics.accuracy_score(y2_pred_gnb,y2_test))

0.653459758437747
[[6676 2237]
 [3903 4902]]
0.653459758437747